body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

h1:hover {
  color: black;
}

div {
  margin: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 7px;
}

select {
  width: 106%;
  padding: 7px;
}

input:checked + label {
  color: black;
}

.login {
  color: white;
  background: linear-gradient(to right, #23ac6c, #44c5e6);
  border-radius: 20px;
  padding: 10px 20px 20px;
  width: 300px;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  box-shadow: 10px 10px 10px #255a32;
}

button {
  padding: 5px 15px 5px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
}

.boton {
  position: relative;
  height: 20px;
}

@media (max-width: 500px) {
  .login {
    background: linear-gradient(to right, #bd09b7, #6b4cf5);
    transition: all ease 3s;
    margin: 40px auto;
  }
}

@media (min-width: 501px) {
  .login {
    transition: all ease 2s;
  }
}

@media (min-width: 768px) {
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
  }
}
